@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: #fff;
    color: hsl(230, 29%, 20%);
    font-size: 18px;
    height: 100vh;
    width: 100vw;
    line-height: 1.6em;
    font-weight: 400;
    overflow-x: hidden;
    cursor: default;
}

ul li {
    list-style: none;
    display: inline;
    margin-right: 25px;
}

a {
    font-size: smaller;
    
    color: hsl(230, 29%, 20%); 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header .container {
    margin: 30px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

header #navsbar {
    font-size: smaller;
    font-weight: 700;
}

header #navsbar #access a {
    font-weight: 400;
    color: hsl(231, 7%, 65%);
}

#dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 25px;
    margin-right: 35px;
    border-radius: 50%;
    background-color: hsl(231, 7%, 65%);
}

#navbutton > * {
    display: none;
}

header #shadow {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    height: 330px;
    background-color: hsl(207, 33%, 95%);
    border-bottom-left-radius: 60px;
    z-index: -1;
}

main .container {
    margin-top: 70px;
    margin-bottom: 15px;
    margin-left: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

main #main-img {
    background-image: url('images/illustration-devices.svg');
    background-position: left;
    background-size: cover;
    order: 1;
    width: 52%;
}

main #left-content {
    margin-top: 55px;
    width: 45%;
}

main #left-content > * {
    margin-bottom: 20px;
}

main #left-content p span {
    background-color: hsl(230, 29%, 20%);
    color: #fff;
    padding: 4px;
    border-radius: 10px;
    letter-spacing: 0;
    margin-right: 6px;
}

main #left-content > p {
    font-size: 11px;
    color: hsl(231, 7%, 65%);
    letter-spacing: 2px;
}

main #left-content h1 {
    font-weight: 900;
    line-height: 1.2em;
}

main #left-content h1 + p {
    font-size: 16px;
    color: hsl(230, 11%, 40%);
    letter-spacing: 0;
    margin-top: 30px;
    margin-bottom: 60px;
}

main #left-content button {
    background-color:  hsl(0, 100%, 68%);
    border: none;
    color: #fff;
    padding: 13px 22px;
    border-radius: 5px;
    margin-right: 5px;
    font-weight: 400;
}

button:hover {
    opacity: 0.6;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width:760px) {
    body {
        overflow-y: scroll;
    }

    header #navsbar {
        display: none;
        position: absolute;
        top: 100px;
        background-color: #fff;
        width: 80%;
        text-align: center;
        padding: 20px;
        box-shadow: hsl(231, 7%, 65%) -3px 3px 10px;
    }

    header #navsbar li {
        display: block;
        margin-bottom: 10px;
    }

    #navbutton #opennav {
        display: block;
    }
    
    #navbutton #closenav {
        display: none;
    }

    #dot {
        width: 100%;
        border-bottom: 1px solid hsl(231, 7%, 65%);
        margin: auto;
        height: 0;
        margin-bottom: 5px;
    }

    header #shadow {
        height: 450px;
    }

    main .container {
        flex-direction: column;
    }

    main #main-img {
        width: 108%;
        height: 230px;
        margin-left: -8%;
        order: 0;   
    }

    main #left-content {
        margin-top: 100px;
        width: 100%;
        white-space: nowrap;
    }

    main #left-content > * {
        margin-bottom: 15px;
    }
    
    main #left-content p span {
        padding: 4px;
        border-radius: 10px;
        letter-spacing: 0;
    }
    
    main #left-content > p {
        font-size: 16px;
    }
    
    main #left-content h1 {
        font-size: 28px;
    }
    
    main #left-content h1 + p {
        font-size: 20px;
        margin-bottom: 40px;
    }

    main #left-content p:last-child {
        font-size: 13px;
    }
    
    main #left-content button {
        margin-right: 5px;
        font-weight: 400;

    }
}
